
@{
    ViewBag.Title = "Cadastrar Cliente";
}
@section scripts{
    <script>
        var urlPost = '@Url.Action("Incluir", "Cliente", new { area = "" })';
        var urlget = '@Url.Action("BeneficiarioList", "Cliente", new { area = "" })';
        var urlExcluir = '@Url.Action("Excluir", "Cliente", new { area = "" })';
    </script>
    @Scripts.Render("~/bundles/listClientes")
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")